.m-sm{margin: 10px!important;}
.m-md{margin: 15px!important;}
.m-lg{margin: 30px!important;}
.m-b-xss{margin-bottom: 3px!important;}
.m-b-xs{margin-bottom: 5px!important;}
.m-b-sm{margin-bottom: 10px!important;}
.m-b-md{margin-bottom: 15px!important;}
.m-b-lg{margin-bottom: 30px!important;}
.m-t-xs{ margin-top:5px!important;}
.m-t-sm{margin-top: 10px!important;}
.m-t-md{margin-top: 15px!important;}
.m-t-lg{margin-top: 30px!important;}
.m-l-sm{margin-left: 10px!important;}
.m-l-md{margin-left: 15px!important;}
.m-l-lg{margin-left: 30px!important;}
.m-r-xs{margin-right: 5px!important;}
.m-r-sm{margin-right: 10px!important;}
.m-r-md{margin-right: 15px!important;}
.m-r-lg{margin-right: 30px!important;}
.no-margin{margin: 0px!important;}

.p-xs{padding: 2px !important;}
.p-sm{padding:5px!important;}
.p-md{padding: 15px!important;}
.p-lg{padding: 30px!important;}
.p-b-sm{padding-bottom: 10px!important;}
.p-b-md{padding-bottom: 15px!important;}
.p-b-lg{padding-bottom: 30px!important;}
.p-t-0{padding-top: 0px!important;}
.p-t-xs{padding-top: 5px!important;}
.p-t-sm{padding-top: 10px!important;}
.p-t-md{padding-top: 15px!important;}
.p-t-lg{padding-top: 30px!important;}
.p-l-xss{padding-left: 3px!important;}
.p-l-xs{padding-left: 5px!important;}
.p-l-sm{padding-left: 10px!important;}
.p-l-md{padding-left: 15px!important;}
.p-l-lg{padding-left: 30px!important;}
.p-r-xss{padding-right: 3px!important;}
.p-r-xs{padding-right: 5px!important;}
.p-r-sm{padding-right: 10px!important;}
.p-r-md{padding-right: 15px!important;}
.p-r-lg{padding-right: 30px!important;}
.no-padding{padding: 0px!important;}
.no-radius{border-radius: 0px!important;}

.login-page {
    background-image: url('../img/login-register.jpg');
    background-size: cover;
}

div.tagsinput span.tag{
    -webkit-border-radius: 0px!important;
}
.input-message{font-size: 0.7em;}
.row-inputs{padding-left:15px; padding-right: 15px;}
.less-padding {padding-left: 5px!important; padding-right: 5px!important;}
.input-menu{
    height: 23px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.3333333;
    border-radius: 0px;
}
.typeahead__container button.disabled, .typeahead__container button[disabled],
.typeahead__container input.disabled, .typeahead__container input[disabled] {
    background-color: #eee!important;
}
.btn-disabled{opacity: 0.5;}
.toggle-handle { width:35%!important; }

.table-bordered-strong, .table-bordered-strong>thead>tr>th, .table-bordered-strong>tbody>tr>th,
.table-bordered-strong>tfoot>tr>th, .table-bordered-strong>thead>tr>td,
.table-bordered-strong>tbody>tr>td, .table-bordered-strong>tfoot>tr>td{
    border-color: #c8c8c8;
}

.table-cell-middle{vertical-align: middle!important;}
.table-header-strong thead{background-color: #3c8dbc!important; color: white!important;}
.table-header-strong thead td, .table-header-strong thead th, .table-header-strong thead tr{border-color: #2d5b75!important;}

.btn-action{width:26px; text-align: center;}
.td-actions{width:102px; text-align: right;}
.mailbox-attachment-name{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;}
.tooltip-inner{word-wrap: break-word; white-space: pre-line;}
.etherpad-iframe{border: none; margin:-20px -20px -25px -20px;}

.text-file-preview pre{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; border-radius: 0px;background-color: #fff;border: none;text-align: justify;}
.text-file-preview{margin-bottom: 10px;max-height: 500px;overflow-y: auto;overflow-x: hidden;}
.text-file-preview pre {line-height: 0;counter-reset: line;}
.text-file-preview pre span {display: block;line-height: 1.5rem;}
.text-file-preview pre span:before {min-width: 35px;text-align: right;counter-increment: line;content: counter(line);display: inline-block;border-right: 1px solid;padding: 0 .5em;margin-right: .5em;color: #888;background: whitesmoke;}
.bootstrap-tagsinput {border-radius: 0px;display: block;width: 100%;}

.cursor-pointer{ cursor: pointer;}
