.primary-color {
    color: #2bb988!important;
}

.button-theme {
    background: #2bb988;
}

.button-theme:hover {
    background: #6ca01c;
}

.dashboard-nav ul {
    border-bottom: 1px solid #6ca01c;
}

.tab-box-3 .nav-link {
    border: solid 1px #2bb988;
    color: #2bb988;
}

.tab-box-3 .active{
    background-color: #2bb988!important;
    border: solid 1px #2bb988;
}

.tab-box-3 .active.a2 {
    background-color: transparent!important;
    border: solid 1px transparent;
}

.new-user-box .follow:hover{
    background: #2bb988;
    color: #fff;
}

.advantages-box .icon {
    background: #2bb988;
}

.service-info-2 .icon i, .service-info-2 .icon svg{
    color: #2bb988;
}

.counters-2{
    background: #2bb988;
}

.pages-404-2 .btn, .pages-404 .btn:hover, .pages-404 .btn:active {
    background: #2bb988;
}

.text .ratings-box {
    background: #2bb988;
}

.setting-button i{
    color: #2bb988;
}

.btn-white{
    background: #2bb988;
    color: #fff;
}

.btn-white:hover{
    color: #fff;
    background: #6ca01c;
}

.top-header {
    background-color: #2bb988;
}

#page_scroller {
    background: #2bb988;
}

.dashboard-nav{
    background: #2bb988;
}

/** Tab box 2 start **/
.tab-box-2 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: solid 2px #2bb988;
    border-radius: 0;
    color: #2bb988;
}

.tab-box .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background: #2bb988;
    border-radius: 0;
}

.checkbox-theme input[type="checkbox"]:checked + label::before , .checkbox-theme input[type="radio"]:checked + label::before {
    border: 2px solid #2bb988;
}

.main-header .dropdown-menu a:hover {
    color: #2bb988;
}

input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before {
    color: #2bb988;
}

.banner-bg-color{
    background: #2bb988;
}

.btn-theme{
    background: #2bb988;
    border: solid 1px #2bb988;
}

.btn-theme:hover{
    background: #6ca01c;
    border: solid 1px #6ca01c;
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background: #2bb988;
    border: solid 2px #2bb988;
}

.properties-amenities ul li i {
    color: #2bb988
}

.pages-404 .btn {
    background: #2bb988;
}

.pages-404 .btn:hover {
    background: #6ca01c;
}

.border-button-theme {
    color: #2bb988;
    border: 2px solid #2bb988;
}

.banner-detail-box .red-box {
    background: #2bb988 url(../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color: #2bb988;
}

.banner-detail-box .white-box .slide-location::after {
    background-color: #2bb988;
}

.search-options-btn, .search-options-btn:hover {
    background: #2bb988;
}

.search-button {
    background: #2bb988;
}

.intro-section {
    background: #2bb988;
}

.search-button:hover {
    color: #fff;
    background: #6ca01c;
}

.popular .price-for-user {
    color: #2bb988;
}

.dolar{
    color: #2bb988;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #2bb988;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color: #2bb988;
}

.bootstrap-select .dropdown-menu li a:hover .text {
    color: #2bb988;
}

.tag {
    background: #2bb988;
}

.tag::after {
    border-left: 10px solid #2bb988;
}

.recent-properties-box .detail header::after {
    background-color: #2bb988;
}

.blog-1 .detail h3 a:hover{
    color: #2bb988;
}

.blog-1 .date-box{
    background: #2bb988;
}

.blog-1 .date-box::after {
    border-left: 15px solid #2bb988;
}

.property-box .detail .title a {
    color: #2bb988;
}

footer .footer-item .contact-info li label a:hover {
    color: #2bb988;
}

.service-info .icon i{
    color: #2bb988;
}

.service-box .heading .title h4 a:hover {
    color: #2bb988;
}

.main-header .form-inline .submit {
    border: solid 1px #2bb988;
    color: #2bb988;
}

.main-header .form-inline .submit:hover {
    border: solid 1px #2bb988;
    background: #2bb988;
    color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #2bb988;
}

/*.main-header .navbar-expand-lg .navbar-nav .active .nav-link {
    color: #2bb988 !important;
}*/

.main-header .navbar-expand-lg .user-account li a:hover {
    color: #2bb988;
}

.plan .price-header h1 {
    color: #2bb988;
}

.btn-outline {
    border: solid 1px #2bb988;
    color: #2bb988;
}

.btn-outline:hover {
    border: solid 1px #6ca01c;
    background: #6ca01c;
    color: #fff;
}

.btn-outline-2 {
    border: solid 2px #2bb988;
    color: #2bb988;
    font-weight: 600;
}

.heading-properties-2 h3 span {
    color: #2bb988;
}

.btn-outline-2:hover {
    border: solid 2px #6ca01c;
    background: #6ca01c;
    color: #fff;
}

.footer .form-inline .btn{
    background: #2bb988;
    color: #fff;
}

.search-box-2{
    background: #2bb988;
}

.about-box .detail h3 {
    color: #2bb988;
}

li.active.filtr-button.filtr a{
    color: #2bb988;
}

.coming-soon-inner h1 span{
    color: #2bb988;
}

.filteriz-navigation li a:hover{
    color: #2bb988;
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color: #2bb988;
}


.show-more-options i{
    color: #2bb988;
}

.form-content-box .footer span a {
    color: #2bb988;
}

.pagination > li > .active {
    background: #2bb988;
}

.pagination > li > a:hover {
    background: #2bb988;
    color: #fff;
}

.read-more {
    color: #2bb988;
}

.blog-3 .date-box {
    background: #2bb988;
}

.blog-3 .date-box::after {
    border-right: 15px solid #2bb988;
}

.blog-3 .detail h3 a {
    color: #2bb988;
}

.blog-3 .detail .post-meta span a i {
    color: #2bb988;
}

.range-slider .ui-slider .ui-slider-handle {
    background: #2bb988;
}

.our-agent-sidebar .carousel-indicators .active {
    background: #2bb988;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #2bb988;
}

.range-slider .ui-widget-header {
    background-color: #2bb988;
}

.main-header .navbar-expand-lg .navbar-nav .link-color {
    color: #2bb988;
    border: solid 1px #2bb988;
}

.main-header .navbar-expand-lg .navbar-nav .link-color:hover{
    color: #fff;
    border: solid 1px #2bb988;
    background: #2bb988;
}

.posts-by-category ul li a:hover {
    color: #2bb988;
}

.tags-box ul li a:hover {
    border: 1px solid #2bb988;
    color: #2bb988;
}

.latest-tweet a {
    color: #2bb988;
}

.blog-2 h3 a:hover{
    color: #2bb988;
}

.blog-tags a:hover {
    border: 1px solid #2bb988;
    color: #2bb988;
}

.blog-2 .date-box {
    background: #2bb988;
}

.blog-2 .detail h4 a:hover{
    color: #2bb988;
}

.price-box span{
    color: #fff;
    font-weight: 700;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #2bb988;
}

.breadcrumbs li a:hover {
    color: #2bb988;
}

.helping-center ul li i {
    color: #2bb988;
}

.my-account-box .title::after {
    background-color: #2bb988;
}

.breadcrumb-nav ul .active {
    color: #2bb988;
}

.photoUpload {
    background: #2bb988;
}

.typography-page mark.color {
    background-color: #2bb988;
}

.faq-accordion .card-header .collapsed.card-title:before {
    color: #2bb988;
}

.manage-table .title-container h2 a {
    color: #2bb988;
}

.manage-table .action a:hover {
    color: #2bb988;
}

.comment-content .btn-1:hover{
    background: #2bb988;
    color: #fff;
}

.dashboard-nav ul li span.nav-tag {
    color: #2bb988;
}

.comment-content h6 span a{
    color: #2bb988;
}

.comment-content h6 span a:hover{
    color: #6ca01c;
}

.bg-active {
    background: #2bb988;
    color: #fff !important;
}

.typography .list-3 li:before, .list-2 li:before, .list-1 li:before {
    color: #2bb988;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #2bb988;
    background-color: #2bb988;
}

.numbered.color ol > li::before {
    border: 1px solid #2bb988;
    color: #2bb988;
}

.widget-link:hover {
    color: #2bb988;
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background: #2bb988;
}

.property-box-2 .detail .title a {
    color: #2bb988;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #2bb988;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color: #2bb988;
}

.map-marker:hover {
    background-color: #2bb988;
    cursor: pointer;
}

.map-marker:hover:before {
    border-color: #2bb988 transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #2bb988;
}

.map-marker.featured:hover:before {
    border-color: #2bb988 transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #2bb988;
}

.marker-active .map-marker {
    background-color: #2bb988;
}

.marker-active .map-marker:before {
    border-color: #2bb988 transparent transparent transparent;
}

.slick-arrow-buton:hover{
    background: #2bb988;
}

.map-properties .map-content h4 a {
    color: #2bb988;
}

.dropzone-design:hover {
    border: 2px dashed #2bb988;
}


@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #2bb988!important;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #2bb988;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: #2bb988 !important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background: #2bb988;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #2bb988 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}

@media (min-width: 992px) {
    /*.header-transparent .navbar-expand-lg .navbar-nav .active .nav-link,
    .header-transparent .navbar-expand-lg .navbar-nav .nav-link:hover
    {
        color: #fff !important;
    }

    .header-transparent .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

    .header-transparent .link-color {
        color: #fff;
    }*/
}
